@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
.basic-font{
    font-family: 'Alata', sans-serif;    
}
.nav{    
    background-color: #000000;  
    margin: 0px auto;     
}
.search{
    border: 0px;
    border-color: #000000;     
    border-radius: 5px 5px 0px 0px;          
    width: 60%;
}
.jumbotron{
    margin: 0px auto;    
    width: 100%;
}
.overlay{
    width:100%;
    z-index: 1;
    position: absolute;
}
.carouselItem{
    height: 150px;        
    width:100%;
}
.cardItem{
    width:24%;
    float: left;
    margin-left: 5px;
    margin-top: 5px;   
}
.foot{
    left:0;
    bottom:0;
    right:0;
    position: static;
}
.resultImg{
    max-height: 220px;
    max-width: 100%;
}
.resultText{
    max-height: 220px;
    max-width: 100%;
}
.itemImage{
    width: 50%;
    display: block;
    margin: auto;
    object-fit: contain;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {    
    .cardItem{
        width:47%;
        float: left;
        margin-left:7px;
        margin-top:7px;
    }
    .carouselItem{            
        width: 100%;        
    }
    .carouselImage{
        height: 300px;
        width: 100%;        
    }            
    .resultImg{   
        max-width: 100%;    
    }
    .resultText{        
        max-width: 50%;
    }
    .resultAdjustment{
        max-width: 33%;
    }
    .search{
        border: 0px;
        border-color: #000000;     
        border-radius: 5px 5px 0px 0px;    
        display: block;
        margin: auto;       
        width: 60%;
    }    
}