@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
.basic-font{
    font-family: 'Alata', sans-serif;    
}
.nav{    
    background-color: #000000;  
    margin: 0px auto;     
}
.search{
    border: 2px;
    outline: 0px;
    border-color: #000000; 
    height: 50%;  
    width: 80%;
    border-radius: 10px 0 0 10px;
}
.jumbotron{
    margin: 0px auto;    
    width: 100%;
}
.overlay{
    position: absolute;
    z-index: 1;
    top: 150px;
}
.carouselItem{
    height: 150px;    
    object-fit: cover;
    width:100%;
}
.cardItem{
    width:24%;
    float: left;
    margin-left: 5px;
    margin-top: 5px;   
}
.foot{
    left:0;
    bottom:0;
    right:0;
    position: static;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {    
    .cardItem{
        width:47%;
        float: left;
        margin-left:7px;
        margin-top:7px;
    }
    .carouselItem{            
        width: 100%;        
    }
    .carouselImage{
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}