@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
.basic-font{
    font-family: 'Alata', sans-serif;    
}
.nav{    
    background-color: #000000;  
    margin: 0px auto;     
}
.search{
    border: 2px;
    outline: 0px;
    border-color: #000000; 
    height: 50%;  
    width: 80%;
    border-radius: 10px 0 0 10px;
}
.jumbotron{
    margin: 0px auto;    
    width: 100%;
}

